body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #ebebeb;
}

.wrapper {
    max-width: 850px;
    margin: 25px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

/* HEADER */
.header {
    width: 100%;
}

.header-img {
    width: 100%;
    border-radius: 6px;
}

/* DIVIDER */
.divider {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #cfcfcf;
}

/* PATIENT INFO ROW */
.patient-info {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 12px;
    font-weight: 600;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 15px;
}

.section {
    margin-top: 20px;
}

.section textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 15px;
}

.title {
    font-size: 16px;
    font-weight: 600;
}

/* PRINT BUTTON */
.print-btn {
    margin-top: 25px;
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.print-btn:hover {
    background: #005fa3;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .patient-info {
        flex-direction: column;
        gap: 20px;
    }
}
